/*======================================
    Blog CSS
========================================*/
.latest-news-area {
    .single-news {
        margin-top: 30px;
        overflow: hidden !important;

        .pr-0 {
            padding-right: 0 !important;
        }

        .pl-0 {
            padding-left: 0 !important;
        }

        .image {
            overflow: hidden;

            img {
                width: 100%;
                transition: all 0.4s ease;
            }
        }

        &:hover {
            .image {
                img {
                    transform: scale(1.1);
                }
            }
        }

        .content {
            border: 1px solid #eee;
            padding: 27px 25px;
            border-left: none;
            padding-left: 30px;
            height: 100%;
            background-color: $white;

            .title {
                line-height: 25px;

                a {
                    font-size: 17px;
                    font-weight: 600;
                    color: $black;

                    &:hover {
                        color: $theme-color2;
                    }
                }
            }

            p {
                margin-top: 20px;
                font-size: 14px;
                line-height: 22px;
            }

            .meta-info {
                margin-top: 25px;

                li {
                    font-size: 15px;
                    display: inline-block;
                    margin-right: 15px;

                    &:last-child {
                        margin: 0;
                    }

                    a {
                        color: #888;
                        font-size: 14px;

                        &:hover {
                            color: $theme-color2;
                        }

                        img {
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: 4px;
                        }
                    }
                }
            }
        }

        &.style2 {
            .content {
                border: none;
                padding: 0;
                padding: 35px;
                background-color: $theme-color2;
                padding-top: 25px;

                .title {
                    a {
                        color: $white;

                        &:hover {
                            color: $white;
                            text-decoration: underline;
                        }
                    }
                }

                p {
                    color: $white;
                }

                .meta-info {
                    li {
                        a {
                            color: $white;

                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}

.blog-list {
    background: $gray;

    .single-news {
        margin: 0;
    }

    .single-news {
        margin-bottom: 30px;
    }
}

/* News Details */
.blog-single {
    background: $gray;


    .meta-info {
        margin-top: 25px;

        li {
            font-size: 15px;
            display: inline-block;
            margin-right: 15px;

            &:last-child {
                margin: 0;
            }

            a {
                color: #888;
                font-size: 14px;

                i {
                    display: inline-block;
                    margin-right: 2px;
                }

                &:hover {
                    color: $theme-color2;
                }

                img {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 4px;
                }
            }
        }
    }

    .post-thumbnils {
        position: relative;
        overflow: hidden;
        border-radius: 0;

        img {
            width: 100%;
        }
    }

    .detail-inner {
        background-color: $white;
        padding: 40px;
        margin-bottom: 40px;
        border: 1px solid #eee;
        border-radius: 0;
        border-top-color: transparent;
    }

    .post-title {
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 32px;

        a {
            font-size: 22px;
            font-weight: 600;

            &:hover {
                color: $theme-color2;
            }
        }
    }

    p {
        font-size: 14px;
        margin: 20px 0;
        line-height: 26px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 600;
        line-height: 28px;
    }

    .list {
        margin: 30px 0;

        li {
            display: block;
            margin-bottom: 15px;
            position: relative;
            padding-left: 32px;

            &:last-child {
                margin-bottom: 0;
            }

            i {
                position: absolute;
                left: 0;
                top: 1px;
                color: #fff;
                font-size: 7px;
                height: 18px;
                width: 18px;
                background: $theme-color2;
                text-align: center;
                line-height: 18px;
                border-radius: 0;
            }
        }
    }
}

blockquote {
    position: relative;
    color: $white;
    font-weight: 400;
    clear: both;
    z-index: 1;
    margin: 40px 0;
    text-align: left;
    padding: 40px;
    background-color: $theme-color2;
    background-image: url('../images/achievement/pattern.png');
    border-radius: 0;
    overflow: hidden;

    .icon i {
        font-size: 32px;
        color: $white;
        display: block;
        margin-bottom: 20px;
    }

    h4 {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
    }

    span {
        font-size: 13px;
        display: block;
        margin-top: 20px;
    }

    .shape {
        position: absolute;
        right: -90px;
        top: -91px;
        z-index: -1;
        transform: rotate(45deg);
    }

}

.post-social-media {
    margin-top: 40px;

    .share-title {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;
        display: inline-block;
    }
}


.post-details .post-social-media ul {
    display: inline-block;
    margin-left: 30px;

    li {
        display: inline-block;
        margin-right: 15px;

        a {
            font-size: 14px;
            color: #999;
            position: relative;

            &:hover {
                color: $theme-color2;
            }

            span {
                background-color: $theme-color2;
                color: $white;
                font-size: 12px;
                font-weight: 400;
                padding: 4px 10px;
                border-radius: 0;
                position: absolute;
                left: 50%;
                top: -30px;
                transform: translateX(-50%);
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s ease;

                &::before {
                    position: absolute;
                    content: "";
                    left: 50%;
                    margin-left: -5px;
                    bottom: -10px;
                    border: 5px solid $theme-color2;
                    border-bottom-color: transparent;
                    border-right-color: transparent;
                    border-left-color: transparent;
                }
            }

            &:hover {
                span {
                    opacity: 1;
                    visibility: visible;
                    top: -35px;
                }
            }

        }
    }
}

/*comments*/
.post-comments {
    background-color: #fff;
    padding: 40px;
    margin-top: 40px;
    border: 1px solid #eee;
}

.comment-title {
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-bottom: 40px !important;
    position: relative;
    z-index: 1;
    text-transform: capitalize;
}

.post-comments .comments-list li {
    padding-left: 110px;
    position: relative;
    font-size: 14px;
}

.post-comments .comments-list li .comment-img {
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.post-comments .comments-list li .comment-img img {
    max-width: 80px;
    max-height: 80px;
}

.post-comments .comments-list li .comment-desc .desc-top {
    margin-bottom: 20px;
    position: relative;
    display: block;
}

.post-comments .comments-list li .comment-desc .desc-top h6 {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 500;
}

.post-comments .comments-list li .comment-desc .desc-top span.date {
    font-size: 14px;
    font-weight: 400;
}

.post-comments .comments-list li .comment-desc .desc-top .reply-link {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 8px 20px;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    z-index: 2;
    border-radius: 0;
    background-color: $theme-color2;
    color: $white;

    &:hover {
        background-color: $theme-color;
        color: $white;
        border-color: transparent;
    }
}

.post-comments .comments-list li .comment-desc .desc-top .reply-link i {
    margin-right: 5px;
}

.post-comments .comments-list li .comment-desc p {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px;
}

.post-comments .comments-list li.children {
    margin-left: 130px;
}

.post-comments .comments-list li:not(:first-child) {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #eee;
}

/*Comment form*/
.comment-form {
    background-color: #fff;
    padding: 40px;
    margin-top: 40px;
    border: 1px solid #eee;
}

.comment-reply-title {
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-bottom: 40px !important;
    position: relative;
    z-index: 1;
    text-transform: capitalize;
}

.comment-form form .form-box {
    position: relative;
}

.comment-form form .form-box .icon {
    position: absolute;
    top: 17px;
    right: 25px;
    font-size: 16px;
}

.comment-form form .form-box .form-control-custom {
    border: none;
    background: #fff;
    font-size: 14px;
    color: $black;
    padding: 0 25px;
    font-weight: 500;
    height: 50px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
}

.comment-form form .form-box textarea.form-control-custom {
    height: 200px;
    padding: 25px;
}

.comment-form form .form-box .form-control-custom::placeholder {
    font-size: 14px;
    color: #888;
    font-weight: 400;
    padding: 25px !important;
}

/* News sidebar */
.sidebar .widget {
    padding: 40px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 0;
    box-shadow: 0px 1px 30px 0px rgba(32, 32, 32, 0.11);
    border-top: 4px solid $theme-color2;

    &:last-child {
        margin-bottom: 0;
    }
}

.sidebar .widget .widget-title {
    font-size: 18px;
    margin-bottom: 40px;
    position: relative;
    font-weight: 600;
    line-height: 28px;
    z-index: 1;
}

.sidebar .widget.search-widget form {
    position: relative;
}

.sidebar .widget.search-widget form input {
    width: 100%;
    background-color: transparent;
    height: 55px;
    border: none;
    padding: 0 80px 0 30px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    border: 1px solid #eee;
}

.sidebar .widget.search-widget form input::placeholder {
    color: #333;
}

.sidebar .widget.search-widget form button {
    border: none;
    position: absolute;
    right: 7px;
    top: 6px;
    width: 55px;
    height: 42px;
    z-index: 1;
    color: #fff !important;
    font-size: 13px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    color: $white;
    border-radius: 0;
    padding: 0 !important;
    border: none;
    background: $theme-color2;

    &:hover {
        background-color: $black;
        color: $white;
    }
}


.sidebar .widget.popular-feeds .single-popular-feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #eee;

    &:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc {
    position: relative;
    padding-left: 100px;

    .feed-img {
        position: absolute;
        left: 0;
        top: 0;

        img {
            width: 80px;
            border-radius: 0%;
            height: 80px;
        }

        overflow: hidden;
    }

    .post-title {
        margin-bottom: 12px;
        line-height: 1.5;

        a {
            font-size: 13px;
            font-weight: 500;
            font-family: 'Poppins',
                sans-serif;

            &:hover {
                color: $theme-color2;
            }
        }
    }

    .time {
        font-weight: 400;
        font-size: 13px;

        i {
            margin-right: 4px;
        }
    }
}


.sidebar .widget.categories-widget ul li {}

.sidebar .widget.categories-widget ul li:last-child {
    margin-bottom: 0;
}

.sidebar .widget.categories-widget ul li {
    &:first-child {
        a {
            padding-top: 0;
        }
    }

    &:last-child {
        a {
            padding-bottom: 0;
            border: none;
        }
    }

    a {
        font-size: 14px;
        padding: 15px 0;
        display: block;
        color: #888;
        border-bottom: 1px solid #eee;

        &:hover {
            color: $theme-color2;
            padding-left: 10px;
        }
    }
}

.sidebar .widget.popular-tag-widget {
    padding-bottom: 35px;
}

.popular-tag-widget .tags>a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 7px 15px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    background: $theme-color;
    margin-right: 7px;
    margin-bottom: 10px;
    color: #fff;
    background: transparent;
    color: #888;
    border: 1px solid #eee;
    border-radius: 0;
}

.popular-tag-widget .tags>a:hover {
    background-color: $theme-color2;
    color: #fff;
    border-color: transparent;
}

.sidebar .widget.appointment-widget {
    .form {
        .form-group {
            margin-bottom: 15px;

            input {
                height: 52px;
                width: 100%;
                border: 1px solid #eee;
                padding: 0px 20px;
                border-radius: 0;
                font-size: 14px;
            }

            textarea {
                height: 120px;
                width: 100%;
                border: 1px solid #eee;
                padding: 20px;
                border-radius: 0;
                font-size: 14px;
            }
        }
    }
}

.sidebar .widget.help-call {
    .inner {
        text-align: left;

        h3 {
            color: $black;
            font-size: 24px;
            font-weight: 700;
            color: $theme-color2;
            margin: 0;

            span {
                font-size: 16px;
                font-weight: 500;
                display: block;
                color: $black;
                margin-top: 10px;
            }
        }
    }

}